@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p> Hola mundo </p>
    <img src="https://pbs.twimg.com/profile_images/1178812591453409280/X9Al8wBG_400x400.jpg">
</img>
</div>
